*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    height: 1000px;
}

header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 4px 16px;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom: solid black;
}

#pinterest-icon{
    height: 30px;
    width: 30x;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

#pinterest-icon img{
    width: 30px;
    height: 30px;
    display: block;
}

.listas{
    display: inline-block;
    padding: 0;
    margin: 5px;
    /*cursor: pointer; */
}



input{
    border-radius: 20px;
    padding: 10px;
    background-color: #E5E7E9;
    border-style: none;
}

#content{
    width: 100%;
    background-color: lightsalmon;
    border: 1px;
    margin-top: 80px;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

#content .card-image img{
    width: 200px;
    height: auto;
    border-radius: 20px;
}






















@media screen and (min-width: 480px) {
    body{
        background-color: yellow;
    }
}

@media screen and (min-width: 950px) {
    body{
        background-color: blue;
    }
}